body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

.video-self {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 40%;
  max-width: 200px;
  min-width: 100px;
  border-radius: 10px;
  overflow: hidden;
}
video {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

@media only screen and (min-width: 600px) {
  video {
    width: 100%;
  }
  .videos-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .video-self {
    position: unset;
    max-width: none;
    width: 100%;
  }
}
